 <div id="player">
      <div id="main">
        <div>
          <div class="playback_controls">
            <h2 id="title">Title</h2>
            <h3 id="artist">Perigee</h3>
            <div class="time-holder">
              <div class="slider">
                <div class="fill"></div>
              </div>
            </div>
            <div>
              <i class="fa fa-bars menu"></i>
              <div class="buttons">
                <i class="fa fa-backward" id="back"></i>
                <i class="fa fa-play loading" id="playpause"></i>
                <i class="fa fa-forward" id="next"></i>
              </div>
            </div>
          </div>
          <audio id="playbar" controls></audio>
        </div>
      </div>
      <ol id="playlist">
        <li class="playing"><a class="track" href="http://192.168.43.123:8080/process">2</a> <span class="time">2:54</span></li>
        <li><a class="track" href="https://dl.dropboxusercontent.com/u/2255413/Perigee/02%20Charade%20%28Exploring%20The%20Surface%29%20feat.%20Julie%20Thurman.m4a">Charade (Exploring The Surface) feat. Julie Thurman</a> <span class="time">3:04</span></li>
        <li><a class="track" href="https://dl.dropboxusercontent.com/u/2255413/Perigee/09%20Plans%20%28When%20Upon%20A%20Journey%20And%20One%20Becomes%20Filled%20With%20Wonder%29.m4a">Plans (When Upon A Journey And One Becomes Filled With Wonder)</a>
          <span
            class="time">4:00</span>
        </li>
        <li><a class="track" href="https://dl.dropboxusercontent.com/u/2255413/Perigee/10%20A%20Spacewalk%20%28A%20Renewed%20Mind%29.m4a">A Spacewalk (A Renewed Mind)</a> <span class="time">4:34</span></li>
      </ol>
    </div>
