<div class="content-container material" id="songs-container">
  <audio id="preListen"></audio>
  <div *ngIf="isLoaded() && !isEmpty();" class="content">
    <h1 class="colored">{{title}}</h1>
    <div class="buttons">
      <button class="material songs-button block" title="Добавить все" id="selectAll" (click)="selectAll()"></button>
      <button class="material songs-button block" title="Удалить отмеченные" id="cancelAll" (click)="cancelAll()"></button>
    </div>
    <div *ngFor="let item of songItems; let i=index;" class="songs-item-container material">
      <div class="songs-play-container">
        <a class="icon play material" title="Предпрослушать" (click)="playPauseSong(item, button)" #button>
        </a>
      </div>
      <div class="songs-item info-container">
        <div class="info">
          <p class="title">{{item.Title}}</p>
          <p class="artist">{{item.Artist}}</p>
          <!--<p>Название: <span class="bold colored">{{item.Title}}</span></p>-->
          <!--<p>Жанр: <span class="bold">{{item.Genre}}</span></p>-->
        </div>
      </div>
      <div class="add-download-buttons">
        <a class="icon download material" href="{{serverRequestsUrls.Download+item.Id}}" download>
        </a>
        <a #element class="icon add material" title="Добавить в плеер" (click)="onAdd(item, element)">
        </a>
      </div>
    </div>
  </div>
  <div *ngIf="!isLoaded()" id="loading">
    <div class="loading-image">
      <img src="./assets/images/loading.gif" alt="Loading">
    </div>
  </div>
  <div *ngIf="isLoaded() && isEmpty();">
    По вашему запросу ничего не найдено
  </div>
</div>
