
.songs-container {
  margin: auto;
  max-width: 85%;
}

.songs-item-container {
  margin: 10px auto;
  display: flex;
  max-height: 40px;
  padding: 5px;
}

.songs-play-container {
  display: flex;
  margin: auto 10px;
}

.songs-item {
  margin: auto 0;
}

.play {
  background-image: url("../../../assets/images/play.png");
  background-size: 35px;
}

.info-container {
  flex: 1;
  display: flex;
  margin: auto 5px;
}

.info {
  flex: 1;
  margin: auto 0px;
  font-size: 14px;

}

.info p {
  margin: 0;
  overflow: hidden;
  white-space: nowrap;
  text-overflow: ellipsis;
  max-width: 90%;
}

.download {
  background-image: url("../../../assets/images/download.gif");
}

.add {
  background-image: url("../../../assets/images/add.png");
}

.title {
  font-weight: bold;
  color: #0f78a9;
}

.artist {
  opacity: 0.5;
}

.songs-button {
  height: 50px;
  background-color: inherit;
  margin-right: 20px;
  padding: 15px;
  outline: none;
  font-family: inherit;
}

.songs-button:hover {
  cursor: pointer;
}

#preListen {
  display: none;
}
