<div class="content-container material" id="songs-container">
  <audio id="preListen"></audio>
  <div *ngIf="isLoaded(); else loading" class="content">
    <h1 class="colored">{{title}}</h1>
    <button class="material songs-button block" id="selectAll" (click)="selectAll()">Выбрать все</button>
    <button class="material songs-button block" id="cancelAll" (click)="cancelAll()">Удалить все</button>
    <div *ngFor="let item of songItems; let i=index;" class="songs-item-container material">
      <div class="songs-play-container">
        <a class="icon play material" (click)="playPauseSong(item, button)" #button>
        </a>
      </div>
      <div class="songs-item info-container">
        <div class="info">
          <p class="title">{{item.Title}}</p>
          <p class="artist">{{item.Artist}}</p>
          <!--<p>Название: <span class="bold colored">{{item.Title}}</span></p>-->
          <!--<p>Жанр: <span class="bold">{{item.Genre}}</span></p>-->
        </div>
        <!--<div class="info">-->
        <!--<p>Битрейт: <span class="bold">{{item.Bitrate}}</span></p>-->
        <!--<p>Длительность: <span class="bold">{{item.FormattedDuration}}</span></p>-->
        <!--<p>Размер: <span class="bold">{{item.Size}}</span></p>-->
        <!--<p>Дата загрузки: <span class="bold">{{item.UploadDate}}</span></p>-->
        <!--<p>Число загрузок: <span class="bold">{{item.CountOfDownloads}}</span></p>-->
        <!--</div>-->
        <a class="icon download material" href="{{serverRequestsUrls.Download+item.Id}}" download>
        </a>
        <a #element class="icon add material" (click)="onAdd(item, element)">
        </a>
      </div>
    </div>
  </div>
  <ng-template align="center" #loading>
    <div class="loading-image">
      <img src="./assets/images/loading.gif" alt="Loading">
    </div>
  </ng-template>
</div>
