.songs-item-container {
  margin: 10px auto;
  display: flex;
  width: 100%;
  max-height: 40px;
  padding: 5px;
}


.songs-item {
  margin: auto 0;
}

.play {
  background-image: url("../../../assets/images/play.png");
  background-size: 35px;
}

.info-container {
  width: 70%;
  display: inline-flex;
  margin: auto 5px;
}

.info {
  width: inherit;
  margin: auto 0px;
  font-size: 14px;

}

.info p {
  margin: 0;
  overflow: hidden;
  white-space: nowrap;
  text-overflow: ellipsis;
}

.download {
  background-image: url("../../../assets/images/download.png");
  background-size: 35px;
}

.add {
  background-image: url("../../../assets/images/add.png");
}

.add-download-buttons {
  flex: 1;
  display: flex;
  justify-content: flex-end;
}

.songs-play-container {
  display: inline-flex;
  margin: auto 0px;
}

.title {
  font-weight: bold;
  color: #0f78a9;
}

.artist {
  opacity: 0.5;
}

.songs-button {
  height: 50px;
  background-color: inherit;
  margin-right: 20px;
  padding: 15px;
  outline: none;
  font-family: inherit;
}

.songs-button:hover {
  cursor: pointer;
}

#preListen {
  display: none;
}

.content {
  width: 90%;
}

.songs-button {
  background-size: 50px;
  height: 50px;
  width: 50px;
}

#selectAll {
  background-image: url('../../../assets/images/addAll.png');
}

#cancelAll {
  background-image: url('../../../assets/images/cancelAll.png');
}
