<div class="content-container material" id="playlists-container">
  <div class="playlists-container">
    <div class="page-title">
      <h1>{{title}}</h1>
      <form class="text-button-form" id="playlist-search-form" #form="ngForm" (submit)="findPlaylists()">
        <input type="text" name="text" id="playlistText" class="text-of-form material block" ngModel>
        <button type="submit" class="submit material block">Найти</button>
      </form>
    </div>
    <div *ngIf="isLoaded() && !isEmpty();" class="music-content">
      <audio id="preListen"></audio>
      <!--<div class="buttons">-->
      <!--<button class="material songs-button block" title="Добавить все" id="selectAll" (click)="selectAll()"></button>-->
      <!--<button class="material songs-button block" title="Удалить отмеченные" id="cancelAll"-->
      <!--(click)="cancelAll()"></button>-->
      <!--</div>-->
      <div *ngFor="let item of playlists; let i=index;" class="playlist">
        <div class="music-item-container material"
             title="Нажмите, чтобы раскрыть/скрыть" (click)="showHideSongs(item.Id)">
          <div class="info-container">
            <div class="info">
              <p class="title">{{item.Title}}</p>
            </div>
            <div class="service-info">
              <p class="service">Число композиций: {{item.Ids.length}}</p>
            </div>
          </div>
        </div>
        <div class="songs" id="{{item.Id}}">
          <app-music-playlist-songs class="playlist-songs" [ids]="item.Ids">
          </app-music-playlist-songs>
        </div>
      </div>
    </div>
    <div *ngIf="!isLoaded()" id="loading">
      <div class="loading-image">
        <img src="./assets/images/loading.gif" alt="Loading" class="img-loading">
      </div>
    </div>
    <div *ngIf="isLoaded() && isEmpty();">
      По вашему запросу ничего не найдено
    </div>
  </div>
</div>
