.playlists-container {
  width: 100%;
}

.text-button-form {
  width: 40%;
  margin: 0;
}

.playlists-container > * {
  margin-bottom: 30px;
}

.music-item-container :hover {
  cursor: pointer;
}

.info-container {
  width: 100%;
  display: inline-flex;
  margin: auto 5px;
  justify-content: space-between;
}

.info {
  width: 50%;
  margin: auto 0px;
  font-size: 14px;
}

.info p {
  overflow: hidden;
  white-space: nowrap;
  text-overflow: ellipsis;
  margin:0;
}

.service-info {
  width: 40%;
  display: flex;
  margin: auto 0px;
  font-size: 14px;
  justify-content: flex-end;
}

.service-info p {
  text-align: center;
  margin: 0;
}

.title {
  font-weight: bold;
  color: #0f78a9;
}

.service {
  opacity: 0.3;
}

.playlist-songs {
  width: 300px;
  position: relative;
  left: 0;
}

.songs {
  display: none;
  margin-bottom: 150px;
}

.music-item-container {
  background-color: rgba(0, 0, 0, 0.05);
}

