
.material {
  border: 1px solid rgba(0, 0, 0, 0.16);
}

.material:hover {
  box-shadow: 0 5px 10px rgba(0, 0, 0, 0.25), 0 5px 5px rgba(0, 0, 0, 0.22);
}

.header {
  background-color: #4A148C;
  color: white;
}

.header-menu {
  list-style: none;
  display: flex;
  justify-content: space-between;
  height: 50px;
  margin: 0;
  padding: 0;
}

.header-menu-item {
  display: flex;
  line-height: 50px;
  min-width: 120px;
  text-align: center;
  margin: 0 20px;
}

.header-menu-item:hover {
  cursor: pointer;
}

.header-menu-item-icon {
  width: 30px;
  height: 30px;
  background: url("../images/menu.png");
  background-size: cover;
  background-repeat: no-repeat;
  margin: auto;
}

.header-menu-item-icon:hover {
  border-radius: 50%;
  background-color: white;
  transition: 0.5s ease;
}

.header-menu-item-title {
  flex: 1;
}

.main {
  display: flex;
  height: 100vh;
}

.main-menu {
  position: relative;
  left: -250px;
  width: 0px;
  background: white;
  transition: 0.3s linear;
  height: 100%;
  visibility: hidden;
}

.main-menu-list {
  margin: 0;
  padding: 0;
  display: block;
  list-style: none;
}

.main-menu-list-item {
  display: flex;
  height: 40px;
  text-align: left;
  line-height: 40px;
  padding: 10px;
  padding-left: 20px;
}

.main-menu-list-item:hover {
  cursor: pointer;
}

.search-form {
  display: flex;
  padding: 0;
  margin: auto;
  width: 100%;
}

.search-input {
  width: 300px;
  height: 30px;
  line-height: 30px;
  padding: 0 10px;
  background: white;
  color: rgba(0, 0, 0, 0.5);
}

.submit {
  flex: 1;
  padding: 0 10px;
  height: 32px;
  line-height: 30px;
  background: white;
  color: rgba(0, 0, 0, 0.5);
}

.main-content {
  flex: 1;
  padding-top: 100px;
}

.footer {
  display: flex;
  background: #4A148C;
}
