<header class="header">
  <ul class="header-menu material">
    <li class="header-menu-item" id="menu-button">
      <div class="header-menu-item-icon"></div>
      <div class="header-menu-item-title">Music app</div>
    </li>
    <li class="header-menu-item">
      <form action="" class="search-form">
        <input type="text" class="search-input material" required>
        <button type="submit" class="submit material">Найти</button>
      </form>
    </li>
  </ul>
</header>
<main class="main">
  <aside class="main-menu material" id="menu">
    <ul class="main-menu-list">
      <li class="main-menu-list-item material" *ngFor="let menuItem of menuItems">{{menuItem}}</li>
    </ul>
  </aside>

  <section class="main-content" id="content">
    <app-player class="player">Loading...</app-player>
    <!--<audio controls></audio>-->
  </section>
</main>
<footer class="footer"> kejrkjsjkf</footer>
