@import url("https://cdnjs.cloudflare.com/ajax/libs/normalize/7.0.0/normalize.min.css");
@import url('https://fonts.googleapis.com/css?family=Roboto');

html, body {
  color: rgba(0, 0, 0, 0.8);
  font-family: 'Roboto', sans-serif;
  background: white;
  padding: 0;
  margin: auto;
  width: 1200px;
}

.material {
  border: 1px solid rgba(0, 0, 0, 0.16);
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.25), 0 2px 2px rgba(0, 0, 0, 0.22);
}

.material:hover {
  box-shadow: 0 5px 5px rgba(0, 0, 0, 0.25), 0 2px 2px rgba(0, 0, 0, 0.22);
}

.icon {
  border-radius: 30px;
  width: 30px;
  height: 30px;
  background-size: 150px;
  background-position: center center;
  background-repeat: no-repeat;
  margin: auto 10px;
}

.icon:hover {
  cursor: pointer;
}

.loading {
  text-align: center;
}

.block {
  border-radius: 5px;
}
