@import url("https://cdnjs.cloudflare.com/ajax/libs/normalize/7.0.0/normalize.min.css");
@import url('https://fonts.googleapis.com/css?family=Roboto');
@import "~@angular/material/prebuilt-themes/indigo-pink.css";
html, body {
  color: rgba(0, 0, 0, 0.8);
  font-family: 'Roboto', sans-serif;
  background: #eee;
  padding: 0;
  margin: auto;
  width: 100%;
}

.material {
  border: 1px solid rgba(0, 0, 0, 0.16);
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.25), 0 2px 2px rgba(0, 0, 0, 0.22);
  outline: none;
}

.material:hover {
  box-shadow: 0 7px 7px rgba(0, 0, 0, 0.25), 0 5px 5px rgba(0, 0, 0, 0.22);
}

.icon {
  border-radius: 30px;
  width: 30px;
  height: 30px;
  background-size: 200px;
  background-position: center center;
  background-repeat: no-repeat;
  margin: auto 5px;
}

.icon:hover {
  cursor: pointer;
}

.loading-image {
  height: 50%;
}

.block {
  border-radius: 5px;
}

.content-container {
  margin: auto;
  display: flex;
  background-color: white;
  min-height: 100vh;
  justify-content: center;
  padding: 20px;
  width: 960px;
}

.page-title {
  color: #0f78a9;
  margin: auto;
  padding: 5px 10px;
  padding-left: 0;
  width: 90%;
}

.text-button-form {
  display: flex;
  padding: 0;
  margin: auto;
  width: 100%;
}

.text-of-form {
  width: 80%;
  height: 30px;
  line-height: 30px;
  padding: 0 10px;
  background: white;
  color: rgba(0, 0, 0, 0.5);
  font-size: 16px;
  margin-right: 10px;
  outline: none;
}

.submit {
  flex: 1;
  padding: 0 10px;
  height: 32px;
  line-height: 30px;
  background: white;
  color: rgba(0, 0, 0, 0.5);
  font-size: 16px;
  outline: none;
}

.music-item-container {
  margin: 10px auto;
  display: flex;
  height:32px;
  padding: 5px 0;
  justify-content: space-between;
  width: 90%;
}

.music-item {
  margin: auto 0;
}

.music-content {
  width: 100%;
}

